<div> 
{{#each posts as |post| }}
<div class="col mb-5 post">
  <div class="post-header">
    <div>
      <a class="no-button" href="/post/{{post.id}}">{{post.title}}</a> 
    </div>
    <div style="text-align: end;font-size:0.75rem">
      Posted by {{post.user.name}} on {{format_date post.date_created}}
    </div>
  </div>
  <div class="post-content">
     <p>
      {{post.description}}
    </p>
  </div>
</div>
{{/each}}
</div>